@import '~ngx-toastr/toastr';
body{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url('./assets/fondo.jpg');
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
